*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.dir-row{
    flex-direction: row;
}

.dir-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.wide-container{
    max-width: 1000px;
    margin: 0 auto;
}

.narrow-container{
    max-width: 800px;
    margin: 0 auto;
}

body{
    font-family: "Open Sans", sans-serif;
}

header{
    height: 650px;
    background-color: cyan;
}

nav{
    /*height: 100px;*/
    background-color: blueviolet;
    justify-content: space-between;
    font-size: .9rem;
    padding: 1rem 0;
}

main{
    height: 2600px;
    background-color: lightgreen;
    padding-top: 8rem;
}

header ul{
    list-style-type: none;
    justify-content: space-between;
}

.nav-left>li{
    padding-right: 2rem;
}

.nav-right>li{
    padding-left: 1.5rem;
}

header img{
    width: 100px;
}

button{
    text-decoration: none;
    color: white;
    line-height: 1.5rem;
    background-color: #0061FF;
}

.jumbo{
    height: 500px;
    /*background-color: burlywood;*/
    position: relative;
}

.hero h1{
    font-size: 4rem;
    font-weight: 800;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.jumbo-text{
    font-size: .8rem;
    width: 300px;
    padding-left: 3rem;
}

.jumbo img{
    padding-left: 3rem;
    width: 700px;
    position: absolute;
    right: 30px;
    top: 0px;
}

.title-in-main p{
    padding-top: 3.5rem;
    font-size: .75rem;
}

.title-in-main span{
    padding-right: 2rem;
}

.col-wrapper{
    height: 740px;
    /*background-color: chocolate;*/
    justify-content: space-between;
}

.col-header{
    border: 2px gray solid;
    line-height: 1.7rem;
    text-align: center;
}

.column{
    border: 2px gray solid;
    font-size: .75rem;
}

.narrow-col{
    height: 100%;
    width: 30%;
    background-color: darksalmon;
}

.col-type{
    height: 20%;
    background-color: chartreuse;
}

.col-attributes-and-button{
    height: 35%;
    background-color: aqua;
}

.column.narrow-col button{
    margin-top: 2.3rem;
}

.buy-option{
    padding-top: 1rem;
}

.users,.space,.share{
    padding-top: .6rem;
}

.col-mini-container{
    width: 85%;
    margin: 0 auto;
}

.wide-col-mini-container{
    width: 95%;
    margin: 0 auto;
    padding-top: 1.3rem;
}

.wide-col-wrapper{
    /*height: 200px;*/
    margin-top: 35px;
}

.wide-col{
    background-color: salmon;
    height: 100%;
}

.left-block{
    width: 65%;
}

.right-block{
    width: 35%;
}

.left-block h2{
    padding-bottom: .9rem;
}

.left-block h4{
    padding-bottom: 1.5rem;
}

.left-block p{
    padding-bottom: 1rem;
}

.right-block button{
    margin-left: 5rem;
}

.paragraph{
    margin-top: 6rem;
}

.paragraph img{
    width: 450px;
}

.par-text{
    padding: 2rem 1.5rem;
}

.cards-row{
    justify-content: space-between;
}

.card{
   margin-top: 2rem;
    height: 30%;
    width: 30%;
}

.card img{
    width: 100%;
}

.card h2{
    font-size: 1.3rem;
}

.card p{
    font-size: .75rem;
}

.squares-wrapper{
    width: 100%;
    /*height: 650px;*/
    background-color: crimson;
}

.square{
    width: calc(100% / 3);
}

.lat-square{
    background-color: darkgoldenrod;
}


.logo-square{
    width: 50%;
    height: calc(100vw / 6);
    position: relative;
}

.logo-square img{
    width: 15vw;
    filter: invert(1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer-entry{
    /*height: 270px;*/
    background-color: aqua;
    color: #5D0229;
    font-size: 1.4rem;
    padding: 5rem 0;
}

.l-footer-entry-col{
    width: 60%;
}

.r-footer-entry-col{
    width: 40%;
    text-align: right;
}

.accordion-wrapper{
    height: 300px;
    /*background-color: bisque;*/
}

footer nav{
    background-color: #000000;
    color: white;
}




