*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.dir-row{
    flex-direction: row;
}

.dir-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.wide-container{
    max-width: 1000px;
    margin: 0 auto;
}

.narrow-container{
    max-width: 800px;
    margin: 0 auto;
}

body{
    font-family: "Open Sans", sans-serif;
}

header{
    height: 650px;
    background-color: cyan;
}

nav{
    /*height: 100px;*/
    background-color: blueviolet;
    justify-content: space-between;
    font-size: .9rem;
    padding: 1rem 0;
}

main{
    height: 1600px;
    background-color: lightgreen;
    padding-top: 8rem;
}

header ul{
    list-style-type: none;
    justify-content: space-between;
}

.nav-left>li{
    padding-right: 2rem;
}

.nav-right>li{
    padding-left: 1.5rem;
}

header img{
    width: 100px;
}

button{
    text-decoration: none;
    color: white;
    line-height: 1.5rem;
    background-color: #0061FF;
}

.jumbo{
    height: 500px;
    /*background-color: burlywood;*/
    position: relative;
}

.hero h1{
    font-size: 4rem;
    font-weight: 800;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.jumbo-text{
    font-size: .8rem;
    width: 300px;
    padding-left: 3rem;
}

.jumbo img{
    padding-left: 3rem;
    width: 700px;
    position: absolute;
    right: 30px;
    top: 0px;
}

.title-in-main p{
    padding-top: 3.5rem;
    font-size: .75rem;
}

.title-in-main span{
    padding-right: 2rem;
}

.col-wrapper{
    height: 740px;
    /*background-color: chocolate;*/
    justify-content: space-between;
}

.col-header{
    border: 2px gray solid;
    line-height: 1.7rem;
    text-align: center;
}

.column{
    border: 2px gray solid;
    font-size: .75rem;
}

.narrow-col{
    height: 100%;
    width: 30%;
    background-color: darksalmon;
}

.col-type{
    height: 20%;
    background-color: chartreuse;
}

.col-attributes-and-button{
    height: 35%;
    background-color: aqua;
}

.column button{
    margin-top: 2.3rem;
}

.buy-option{
    padding-top: 1rem;
}

.users,.space,.share{
    padding-top: .6rem;
}

.col-mini-container{
    width: 85%;
    margin: 0 auto;
}

.wide-col-wrapper{
    height: 200px;
    margin-top: 35px;
}

.wide-col{
    background-color: salmon;
    height: 100%;
}



